# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
.venv/
*.sqlite3
*.db

# IDE files
.vscode/
.idea/

# Frontend folder (handled in separate repo)
frontend/

# Node artifacts
frontend/node_modules/
frontend/dist/

# Local environment
*.log
